<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
   </head>
   <body style="height: 100%; margin: 0">
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="js/echarts-all-3.js"></script>
       <script type="text/javascript" src="js/dataTool.min.js"></script>
       <script type="text/javascript" src="js/china.js"></script>
       <script type="text/javascript" src="js/world.js"></script>
       <script type="text/javascript" src="js/bmap.min.js"></script>
       <script type="text/javascript" src="js/api.js"></script>
       <script type="text/javascript" src="js/main.js"></script>


   </body>
</html>
